config global global
	option enable '0'
	option work_mode '0'
	
config appfilter appfilter

config feature feature
	option update 0
	option format 'v2.0'

config time 'time'
	option time_mode '0'
	option days '0 1 2 3 4 5 6'
	option start_time '00:00'
	option end_time '23:59'
	option start_time2 ''
	option end_time2 ''
config user user
