config global global
	option lan_ifname 'br-lan'
	option tcp_rst '1'
	option theme_mode '1'
	option feature_token ''

config appfilter appfilter
	option enable 1

config macfilter macfilter
	option enable 1

config record 'record'
	option enable '1'
	option record_time '3'
	option app_valid_time '3'
	option history_data_size '10'
	option history_data_path '/tmp/oaf'
	option base_data_path '/tmp/oaf'

config network network 
	option work_mode 0

config dashboard 'dashboard'

config advanced 'advanced'
	option disable_hnat '0'

config status 'status'
	option notice_status '0'
